.todoApp {
  &__filter {
    text-align: center;
    background-color: #19ba99;
    padding: 20px;
    border-radius: 10px;
    margin: 0 17px 0 17px;
    * {
      background-color: #19ba99;
      margin-left: 17px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: white;
      cursor: pointer;
    }
  }
}
.--active {
  text-decoration: underline;
}
